
	/* LOGIN */
	/* ----------------------------------------- */

		#logout-view {

			.category {
				padding-bottom:7px;
			}

			.scalable {
				width:200px;
			}

		}


		#logout-report {

			aside {

				> section {
					margin-bottom:30px;
					float:none;
					width:100%;
				}

			}

			.none {
				font-size:30px;
				padding-top:60px;
			}

		}

		@media all and (max-width:900px){
			#logout-report {

				aside > section {

					width:100%;
					float:none;

				}

			}
		}


		@media all and (max-width:500px){
			#logout-view {

				.scalable {
					width:auto;
				}

			}
		}

