
	/* FEEDBACK */
	/* ----------------------------------------- */

		#feedback {

			margin-top:20px;

			nav {

				margin-bottom:20px;

				ul li {

					background:#f7f7f7;
					margin-bottom:1px;
					border-left:2px solid #D0D0D0;
					height:37px;

					a {
						text-decoration:none;
					}

					.icon {
						background:#EFEFEF;
						display:inline-block;
						width:36px;
						height:36px;
						line-height:36px;
						text-align:center;
					}

					.text {
						text-indent:5px;
						font-size:13px;
					}


					&.active {
						background:#e02222;
						border-left:2px solid #d12020;
						color:#FFF;
						font-weight:500;
						.icon {
							background:#d12020;
							i {
								color:#FFF;
							}
						}
					}

				}

			}


			textarea {
				height:339px;
			}

		}

