
	/* CALLOUTS - @extended from Bootstrap:  */
	/* ----------------------------------------- */

		.pagination-total {

			float:left;

			button {
				font-size:12px;
				padding:5px 12px;
			}

		}

